section.contacts
  h2.contacts__title.title Мы ждем вас
  .contacts__list
    .contacts__item
      span.contacts__item-description Приходите к нам:
      span.contacts__item-content Санкт-Петербург, ул. Большая Конюшенная, 19
    .contacts__item
      span.contacts__item-description Режим работы:
      span.contacts__item-content Пн-Сб, с 9-00 до 20-00
    .contacts__item
      span.contacts__item-description Позвоните нам:
      a.contacts__item-content(href="tel:+74959834719") + 7 (495) 983-47-19
    .contacts__item
      span.contacts__item-description Напишите нам:
      a.contacts__item-content(href="mailto:info@cleverbaby.ru") info@cleverbaby.ru
    .contacts__item
      span.contacts__item-description Мы в соцсетях:
      ul.contacts__socials-list
        li.contacts__socials-item
          a.contacts__socials-link.contacts__socials-link--facebook(href="#")
            span.visually-hidden Мы в Facebook.
        li.contacts__socials-item
          a.contacts__socials-link.contacts__socials-link--vk(href="#")
            span.visually-hidden Мы во Вконтакте.
        li.contacts__socials-item
          a.contacts__socials-link.contacts__socials-link--instagram(href="#")
            span.visually-hidden Мы в Instagram.


