section.education
  .container
    h2.education__title.title Как проходит обучение
    .education__description
      .education__description-content
        h3.education__description-title Играя — обучаем, обучая — развиваем
        p.education__description-text.
          Мы&nbsp;взяли все самое лучшее из&nbsp;традиционных и&nbsp;современных методик обучения и&nbsp;развития детей.
          Обучение английскому языку происходит легко и&nbsp;интересно, ведь малыши не&nbsp;зубрят материал по&nbsp;учебникам,
          а&nbsp;познают его через игру, сказки, книги и&nbsp;музыку.
        p.education__description-text.
          Наша методика также включает в&nbsp;себя обучение по&nbsp;программе Cambridge.
          Благодаря этому, наши ученики без труда сдают международные и&nbsp;государственные экзамены.
      .education__description-content
        h3.education__description-title Посмотрите, как проходят наши занятия
        .education__description-video
          picture
            source(type="image/webp" media="(min-width: 1366px)" srcset="@img/content/education/video-desktop.webp 1x, @img/content/education/video-desktop@2x.webp 2x" width="431" height="231")
            source(type="image/webp" media="(min-width: 768px)" srcset="@img/content/education/video-tablet.webp 1x, @img/content/education/video-tablet@2x.webp 2x" width="354" height="262")
            source(type="image/webp" srcset="@img/content/education/video-mobile.webp 1x, @img/content/education/video-mobile@2x.webp 2x" width="290" height="262")
            source(media="(min-width: 1366px)" srcset="@img/content/education/video-desktop.jpg 1x, @img/content/education/video-desktop@2x.jpg 2x" width="431" height="231")
            source(media="(min-width: 768px)" srcset="@img/content/education/video-tablet.jpg 1x, @img/content/education/video-tablet@2x.jpg 2x" width="354" height="262")
            img(src="@img/content/education/video-mobile.jpg" srcset="@img/content/education/video-mobile@2x.jpg 2x" width="290" height="262" alt="Превью видео, на котором показан ребенок.")
          +btn("", "")(class="education__description-video-play")
            span.visually-hidden Включить видео.
    .education__advantages
      .education__advantages-content.education__advantages-content--intelligence
        h3.education__advantages-title Развитие 10 видов интеллекта
        p.education__advantages-text Учимся общаться, развивать эмоциональный, творческий интеллект и&nbsp;многое другое
      .education__advantages-content.education__advantages-content--immersion
        h3.education__advantages-title Языковое погружение
        p.education__advantages-text Занятия проходят полностью на&nbsp;английском языке, независимо от&nbsp;типа задания
      .education__advantages-content.education__advantages-content--teachers
        h3.education__advantages-title Педагоги — носители языка
        p.education__advantages-text Занятия ведут преподаватели из&nbsp;США, Великобритании и&nbsp;Канады, для которых английский язык является родным
      .education__advantages-content.education__advantages-content--small-group
        h3.education__advantages-title Небольшие группы
        p.education__advantages-text Дети занимаются в&nbsp;группах до&nbsp;5&nbsp;человек, что позволяет применять индивидуальный подход к&nbsp;каждому


