section.groups
  .container
    .groups__decorative-wrapper
      .groups__text-wrapper
        h2.groups__title.title Наши группы
        p.groups__description В&nbsp;группах занимается до&nbsp;5&nbsp;человек. Все дети в&nbsp;группе примерно одного возраста и&nbsp;уровня знаний.
      ul.groups__list
        li.groups__item.groups__item--anakiwa
          h3.groups__item-title Бэбики-1
          p.groups__item-frequency 1 раз в неделю
          p.groups__item-duration 1,5 часа занятие
          p.groups__item-cost.
            #[span.groups__item-cost-value 2500]
            в месяц
          a.groups__item-sign-up.button.button--anakiwa Записаться
        li.groups__item.groups__item--golden-glow
          h3.groups__item-title Бэбики-2
          p.groups__item-frequency 2 раза в неделю
          p.groups__item-duration 1,5 часа занятие
          p.groups__item-cost.
            #[span.groups__item-cost-value 4000]
            в месяц
          a.groups__item-sign-up.button.button--golden-glow Записаться
        li.groups__item.groups__item--pink
          h3.groups__item-title Бэбики-3
          p.groups__item-frequency 3 раза в неделю
          p.groups__item-duration 1 час занятие
          p.groups__item-cost.
            #[span.groups__item-cost-value 4000]
            в месяц
          a.groups__item-sign-up.button.button--pink Записаться
