section.hero
  .container
    .h1.hero__title.
      Английский язык
      #[span.hero__title--small для детей от 2 до 7 лет]
    p.hero__description Гармоничное развитие детей и обучение через полное погружение в языковую среду
    a.hero__sign-up.button.button--orange Записаться
