section.hero
  .hero__container
    .hero__decorative-wrapper
      .h1.hero__title.
        Английский язык
        #[span.hero__title--small для детей от 2 до 7 лет]
      p.hero__description.
        Гармоничное развитие детей и&nbsp;обучение
        #[br]
        через полное погружение в&nbsp;языковую среду
      a.hero__sign-up.button.button--golden-glow Записаться
