section.trial
  h2.trial__title.title.title--white Запишитесь на&nbsp;бесплатное пробное занятие
  p.trial__description Приходите к&nbsp;нам в&nbsp;гости и&nbsp;мы&nbsp;познакомим вас с&nbsp;педагогами, расскажем о&nbsp;школе и&nbsp;ответим на&nbsp;все ваши вопросы
  a.trial__sign-up.button.button--orange Записаться
