section.trial
  .trial__container
    .trial__wrapper
      h2.trial__title.title.title--light Запишитесь на&nbsp;бесплатное пробное занятие
      p.trial__description Приходите к нам в гости и мы познакомим вас с&nbspпедагогами, расскажем о школе и&nbsp;ответим на все ваши вопросы
      a.trial__sign-up.button.button--golden-glow(href="#") Записаться
