.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 60px 15px;

  @media (min-width: $vp-768) {
    padding: 110px 45px;
  }

  @media (min-width: $vp-1250) {
    padding: 130px 50px;
  }
}
