// Colors
//----------------------------------------------------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project-palette
// Для нейминга используется https://www.htmlcsscolor.com/hex/63D1BB

// !$color-whisper: #ececec;

// Typography
//----------------------------------------------------------------------------

// !$ff-open-sans: "Open Sans", "Arial", sans-serif;

// Viewports
//----------------------------------------------------------------------------

// !$vp-768: 768px;
