.button {
  display: inline-block;
  padding: 12px 28px;

  font-weight: 500;

  border: none;
  border-radius: 100px;
  cursor: pointer;

  transition: opacity 300ms ease-out;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.4;
  }

  &--anakiwa {
    background-color: $color-anakiwa;
  }

  &--golden-glow {
    background-color: $color-golden-glow;
  }

  &--pink {
    background-color: $color-pink;
  }
}
