.teachers {
  &__decorative-wrapper {
    position: relative;

    @media (min-width: $vp-1250) {
      &::after {
        content: "";
        position: absolute;
        bottom: 40px;
        left: -115px;

        width: 44px;
        height: 132px;

        background-image: url("@img/decorative/teachers/pencil.svg");
        background-size: 44px 132px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -51px;
      right: 0;

      width: 30px;
      height: 48px;

      background-image: url("@img/decorative/teachers/house.svg");
      background-size: 30px 48px;

      @media (min-width: $vp-768) {
        background-image: none;
      }

      @media (min-width: $vp-1250) {
        top: -5px;
        right: -100px;

        width: 58px;
        height: 97px;

        background-image: url("@img/decorative/teachers/house.svg");
        background-size: 58px 97px;
      }
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0 32px 0;

    @media (min-width: $vp-768) {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 50px 0;
    }

    @media (min-width: $vp-1250) {
      margin: 0 0 57px 0;
    }
  }

  &__title {
    margin: 0 0 21px 0;
  }

  &__description {
    font-size: 14px;
    line-height: 1.45;
    padding: 0 20px 0 0;

    @media (min-width: $vp-768) {
      max-width: 267px;
      margin: 10px 0 0 0;
    }

    @media (min-width: $vp-1250) {
      max-width: 350px;

      font-size: 16px;
    }
  }
}
